@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    技术支持<br />
    电话，12345678<br />
    <abbr title="Phone">P:</abbr>
    15222222222
</address>

<address>
    <strong>邮件:</strong>   <a href="mailto:bayker@live.cn">bayker@live.cn</a><br />
   
</address>