@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
    <h1>四川专家库抽取外联</h1>
    <p class="lead">为你提供标准化评标专家库抽取服务，安全，稳定，便捷。</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>安全</h2>
        <p>
           CFCA数据加密传输
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">查看详情 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>稳定</h2>
        <p>数十年评标专家抽取服务经验积累。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">查看详情 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>便捷</h2>
        <p>电子招投标一体化服务.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">查看详情&raquo;</a></p>
    </div>
</div>