<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--账户ID-->
    <add key="ACCOUNTSID" value="aaf98f894d7439d8014d8a2247800ef0"/>
    <!--账户安全令牌-->
    <add key="AUTHTOKEN" value="0bb31d0b35604276bd3ff32f95693010"/>
    <!--服务器IP-->
    <add key="RESTSERVERIP" value="sandboxapp.cloopen.com"/>
    <!--服务器端口-->
    <add key="RESTPORT" value="8883"/>
    <!--应用ID-->
    <add key="APPID" value="aaf98f894d7439d8014d8a22f5ad0ef9"/>
    <!--应用安全令牌-->
    <add key="APPTOKEN" value=""/>
    <!--注册模板短信ID-->
    <add key="RegistTemplateId" value="1"/>
  </appSettings>
</configuration>